.hidden {
  display: none;
}

.itinerary-item {
  display: flex;
  align-items: center;
  border: 1px solid black; 
  margin-bottom: 13px; 

}

.expand-icon {
  cursor: pointer;
  margin-right: 10px;
}

.day {
  margin-right: 10px;
}
.itinerary{
  width: 35%;
  margin-left: 70px;
}
.hotel_itinerary{
  display: flex;
}
